body {
    background-color: #1f1f1f;
    border: 30px solid #22c4f5;
    border-radius: 60px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

table {
    background-color: silver;
    border: 1px;
    border-color: black;
}

th,td {
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}

h2 {
    color: #22c4f5;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

p {
    color: #22c4f5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.nav {
    margin-top: 60px;
    color: #22c4f5;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

h1 {
    color: #22c4f5;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; 
}

h3 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; 
}

.chartCardF {
    width: 100%;
    border-radius: 60px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.chartBoxF {
    width: 900px;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #22c4f5;
    background: #22c4f5;
}

.chartCard {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.chartBox {
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px #22c4f5;
    background: #22c4f5;
}
